nav {
  display: flex;
  gap: 2.5em;
  align-items: center;
}
nav > a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: black;
}

nav > a:hover {
  color: rgb(252, 158, 117);
}
header {
  display: flex;
  padding: 0.5em 0;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.login {
  align-items: center;
  text-decoration: none;
  background-color: var(--button);
  color: #fff;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.5px;
  line-height: normal;
  max-width: 100%;
  padding: 2px 24px;
  position: relative;
  text-align: center;
}
.login:hover {
  background-color: #e9c489;
  color: white;
}

input[type="text"] {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type="text"]:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  border: 2px;
  margin-right: 3px;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.connect {
  padding: 6px 12px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-clip: padding-box;
  border: 1px solid #ced4da;

  border-radius: 4px;

  line-height: 1.5;
}
.connect:hover {
  background-color: #ced4da;
  cursor: pointer;
}

input[type="number"] {
  padding: 5px 0px;
  margin: 0;
}

.duff {
  width: 100px;
  height: 60px;
  transition: all 1s;
}
.duff:hover {
  transform: rotateZ(100deg);
}

form {
  margin-right: 9em;
}

@media only screen and (max-width: 600px) {
  nav {
    width: 100%;
    flex-direction: column;
  }
  form {
    display: flex;
    justify-content: center;
    min-width: 100%;
    margin-left: 10em;
  }
}

@media only screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }
  header {
    flex-direction: column;
  }

  form {
    display: flex;
    justify-content: center;
    min-width: 100%;
    margin-left: 10em;
  }
}
