@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
}

:root {
    --button: #e61f1f;
    --white: #ffffff;
  }